<%- include('head'); -%>

<body>
    <%- include('header'); -%>
    <%if (typeof(nonce) !== 'undefined' && typeof(message) !== 'undefined' && typeof(failure) !== 'undefined'){%>
    <script nonce=<%-nonce-%>> toastr.options = {"closeButton": true,"progressBar": true,"positionClass": "toast-bottom-full-width","showDuration": "10000","hideDuration": "1000","timeOut": "5000","extendedTimeOut": "1000","showEasing": "swing","hideEasing": "linear","showMethod": "fadeIn","hideMethod": "fadeOut", "escapeHtml": true}</script>
    <%if (failure){%>
    <script nonce=<%-nonce-%>> toastr["error"]('<%-message-%>', "Failed")</script>
    <%}else{%>
    <script nonce=<%-nonce-%>> 
    toastr["success"]('<%-message-%>', "Success")
    </script>
    <%}%>
    <%}%>
    <div class='login-card container grid-lg'>
        <form class="form-horizontal" method="POST">
            <div class="card">
                <div class="card-image">
                    <img src="../images/Wavey-Fingerprint.svg" width=1000 class="img-responsive">
                </div>
                <div class="card-header">
                    <div class="card-title h5">Employee Registration Portal</div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label" for="username">Username</label>
                        </div>
                        <div class="col-9 col-sm-12">
                            <input required class="form-input" type="text" name="username" autocomplete="username"
                                placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label" for="email">Email</label>
                        </div>
                        <div class="col-9 col-sm-12">
                            <input required class="form-input" type="email" name="email"
                                autocomplete="email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label" for="password">Password</label>
                        </div>
                        <div class="col-9 col-sm-12">
                            <input required class="form-input" type="password" name="password"
                                autocomplete="current-password" placeholder="Password">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" class="btn btn-primary" value="Submit">
                </div>
            </div>
        </form>
    </div>
</body>